body{
  background-color:DarkOrange;
  text-align:center;
}
/* Style the tab */
.tab {
    float:none;
    border: 10px solid #ccc;
    background-color: #f1f1f1;
    width: 20%;
    height: 800px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 20px;
    width: 200%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 40px 16px;
    border: 1px solid #ccc;
    width: 100%;
    border-left: none;
    height: 20px;
}
